<% content_for('body') do %>
  <% view :wrapper do -%>
    <%= list_view :recipes, 
        :row_height => 36,
        :content_value_key => 'name', 
        :bind => { :content => 'Cookbook.recipesController.arrangedObjects', 
                   :selection => 'Cookbook.recipesController.selection' }  %>
  <% end -%>
<% end %>
