body {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

#wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 100%;
}

#sidebar {
  position: absolute;
  width: 200px;
  left:  0;
  top:  0;
  bottom: 0;
  border: solid 1px black;
  height: 100%;
}

#recipes_list_scroll {
  position: absolute;
  top:  0px;
  left:  0px;
  width: 200px;
  height: 95%;
}

#sidebar_toolbar {
  position: absolute;
  top:  95%;
  left:  0px;
  width: 200px;
  height: 5%;
}

#main {
  position: absolute;
  left: 205px;
  right: 0px;
  top: 0;
  bottom: 0;
  border: solid 1px black;
  height: 100%; 
  padding: 10px 0px 0px 10px;
}

#toolbar {
  position: absolute;
  top:  250px;
  left:  0px;
  bottom: 0px;
  width: 100%;  
}

input {
  left:98px;
  position:absolute;
}

.row {
  padding: 10px 0px;
}